/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  background-color: #d9f0ff;
  font-family: Roboto;
  font-weight: 300;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
